* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(90, 147, 220);
}
h1 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(90, 147, 220);
  text-align: center;
}
.main-content {
  box-shadow: 2px 2px 2px 2px #434141;
  background-color: #fff;
  margin: 40px 40px;
  align-items: center;
}

Form {
  margin-top: 50px;
  font-size: 20px;
  align-content: center;
}
button {
  background-color: rgb(90, 147, 220);
  width: 70px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
