* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(90, 147, 220);
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(90, 147, 220);
  text-align: center;
}
p {
  padding: 20px;
}
.main-content {
  /* box-shadow: 2px 2px 2px 2px #434141; */
  background-color: #fff;
  align-items: center;
  width: 480px;
  height: 650px;
  box-shadow: 0 2px 4px rgb(146, 146, 146);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 60px;
  left: 36%;
  margin-bottom: 4%;
}

Form {
  margin-top: 50px;
  font-size: 20px;
  align-content: center;
}
button {
  background-color: rgb(90, 147, 220);
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.btn {
  margin: 20px 40px;
  padding: 10px;
}
label {
  font-size: 20px;
  color: #545252;
  margin-bottom: 15px;
}
input {
  width: 200px;
  height: 30px;
}
